<footer class="container-fluid position-fixed bottom-0 start-0 w-100 border-top ">
  

    <div class="row d-flex justify-content-center bg-light">

        <form class="col-8  p-3 text-center " (ngSubmit)="registerMsgComp()">
            <div class="form-floating  input-group w-100 ">
                <textarea  class="form-control h-50 rounded-pill" type="text" placeholder="Mensagens" id="msg" name="msg" required 
                  [(ngModel)]="msg" ></textarea>
                <label for="msg" class="pt-4">Mensagens</label>
            </div>
            <button type="submit" class="btn btn-primary mt-3">Enviar</button>
        </form>

    </div>
</footer>