<main class="container-fluid p-0 " style="margin-bottom: 161px;">

    <!-- barra lateral  para exibição do menbros da rede que estaão conectados-->
    <aside class="user-logados   overflow-scroll col ">
        <div class=" border-bottom ">
            <h4 class="nome-do-usuario">Membros </h4>
        </div>
        <div *ngFor="let users of usersLogados" class=" row  ">
             <a  class="nav-link ms-2" routerLink="private-room" > <p class="nome-do-usuario ">{{users.username}}</p></a> 
           


        </div>
    </aside>
    <!-- fim barra lateral  para exibição do menbros da rede que estaão conectados-->

    <section class="wrapper d-flex flex-column min-vh-10   m-1 p-3">
        <div class=" border-bottom text-center gap ">
            <h4 class="nome-do-usuario">Mensagens </h4>
        </div>
        <div class=" wrapper flex-grow-1 ">
            <div class="d-flex flex-column pt-3">




                <!-- Início da estrutura do comentário -->
                <article class="m-2 border-top border-bottom p-3"
                    *ngFor="let message of paginatedMessages; let i = index">
                    <div class="d-flex flex-row justify-content-between">
                        <!-- Container da imagem de perfil, e tipo de mensagem -->
                        <div>
                            <img width="50px" src="../../assets/userPerfil/usuario-de-perfil.png" alt="...">
                        </div>
                        <div>
                            <h3>{{message.autor}}</h3>

                        </div>
                    </div>
                    <div class="card-body"> <!-- Container do autor da mensagem e mensagem em si -->
                        <h5 class="card-title">{{ message.autor }}</h5>
                        <p class="card-text" [ngClass]="{'collapsed': isExpanded(getMessageIndex(i))}"
                            [style.max-height]="isExpanded(getMessageIndex(i)) ? 'none' : '4.5em'"
                            [style.overflow]="isExpanded(getMessageIndex(i)) ? 'visible' : 'hidden'">{{ message.msg }}
                        </p>
                        <a href="#" (click)="toggleExpand(getMessageIndex(i))" class="expand-toggle">
                            {{ isExpanded(getMessageIndex(i)) ? 'Contrair' : 'Expandir' }}</a>
                    </div>
                    <div class="mt-1 d-flex justify-content-between w-100">
                        <button class="btn btn-outline-secondary">Comentar</button>
                        <div class="d-flex justify-content-around">
                            <div class="me-2">
                                <button class="btn btn-outline-danger border-0">
                                    <img width="50px" src="../../assets/like/nao-gosto-de-simbolo.png" />
                                </button>
                            </div>
                            <div class="me-2">
                                <button class="btn btn-outline-info border-0">
                                    <img width="50px" src="../../assets/like/gostar.png" />
                                </button>
                            </div>
                        </div>
                    </div>
                </article>
                <!-- Fim da estrutura do comentário -->





                <div class="d-flex justify-content-between p-3">
                    <button class="btn btn-primary" (click)="previousPage()"
                        [disabled]="currentPage === 1">Previous</button>
                    <span>Página {{ currentPage }} de {{ totalPages }}</span>
                    <button class="btn btn-primary" (click)="nextPage()"
                        [disabled]="currentPage * itemsPerPage >= messages.length">Next</button>
                </div>






            </div>
        </div>
    </section>


</main>

